body > header,
body > footer {
	width: 100%;
	text-align: center;
	background-color: #062747;
	color: white;
	margin: auto;
}
body > header > img {
	width: 8em;
	padding: 2em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body > footer > p {
	padding: 1em;
	font-size: 0.8em;
	margin-bottom: 0;
}
body > main > section > article {
	margin-left: auto;
	margin-right: auto;
	max-width: 50em;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
	overflow: auto;
}
body > main > section > article[style] {
	max-width: inherit;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: white;
	padding-top: 0;
	padding-bottom: 0;
}
body > main > section > article[style] > header {
	padding-top: 6em;
	padding-bottom: 6em;
	text-shadow: 0px 0px 2px #062747;
}
body > main > section > article[style] > footer > p {
	text-shadow: 0px 0px 2px #062747;
	font-size: 0.8em;
	text-align: right;
}
body > main > section > article > header {
	text-align: center;
}
body > main > section > article > video {
	width: 100%;
	height: auto;
}
body > main > section > article > figure,
body > main > section > article > video {
	margin: 0;
	max-width: 25em;
	margin: auto;
}
body > main > section > article > figure > img,
body > main > section > article > figure > a > img {
	height: auto;
	width: 100%;
	display: block;
}
body > main.nav > section > article {
	padding-top: 2em;
	padding-bottom: 0;
	padding-left: 1em;
	padding-right: 1em;
}
.hide {
	display: none !important;
}
article.onlygraphic, article.entrypoints {
	padding: 0em 1em;
	max-width: 50em;
}
article.onlygraphic > video,
article.onlygraphic > figure {
	max-width: 50em;
}
body > main > section > article > main > iframe {
	width: 100%;
	height: 720px;
	border: none;
}
div#c-forms-form, div.c-dropdown {
  position: static !important;
}
div.c-dropdown-button {
	display: none;
}
img#loadinggif {
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	display: block;
}
@media only screen and (min-width: 52em) {
	body > main > section > article.graphic:nth-child(odd) > figure,
	body > main > section > article.graphic:nth-child(odd) > video,
	body > main > section > article.entrypoints > figure:nth-child(odd) {
		float: right;
	}
	body > main > section > article.graphic:nth-child(odd) > *:not(header):not(footer):not(figure):not(video) {
		margin-right: 27em;
	}
	body > main > section > article.graphic:nth-child(even) > figure,
	body > main > section > article.graphic:nth-child(even) > video,
	body > main > section > article.entrypoints > figure:nth-child(even) {
		float: left;
	}
	body > main > section > article.graphic:nth-child(even) > *:not(header):not(footer):not(figure):not(video) {
		margin-left: 27em;
	}
	body > main > footer,
	body > main > section > article > header,
	body > main > section > article > footer,
	body > main > section {
		clear: both;
	}
}
