/*
   Styling for CSS-based drop-down menus.
   (C) Copyright 2006 Just Software Solutions Ltd.
   Distributed under the Boost Software License, Version 1.0.
   (See http://www.boost.org/LICENSE_1_0.txt)
   (c) copyright 2015 Imint AB
*/

 nav a,
 nav a:link,
 nav a:hover,
 nav a:visited {
  text-decoration: none;
  color: white;
  padding: 0.2em;
}
 nav {
  width: 100%;
  background-color: #A73E10;
}
 nav > ul {
  padding: 0em 1em;
  margin: 0 auto;
  overflow: hidden;
  max-width: 50em;
}
 nav > ul ul,
 nav > ul li
{
  padding: 0;
  margin: 0;
  text-align: left;
}
 nav > ul > li
{
  float: left;
}
nav > ul > li:nth-child(1),
nav > ul > li:nth-child(1) > a
{
  border-left-width: 0;
  padding-left: 0;
}
 nav > ul li
{
  list-style-type: none;
  border: 1px solid #A73E10;
  color: white;
  background-color: #A73E10;
  padding: 2px;
}
 nav > ul ul
{
    display: none;
    position: absolute;
    margin-left: -3px;
    margin-top: 2px;
}
 nav > ul li:hover > ul
{
    display: block;
}

 nav > ul a
{
    color: white;
    background: none;
    display: block;
    text-decoration: none;
}
 nav > ul li:hover
 nav > ul li.hover,
 nav > ul a:hover
{
    color: #A73E10;
    background-color: white;
}
 nav > ul ul ul
{
    margin-top: -1.2em;
    left: 99%;
}
 nav > ul span
{
    display: block;
}
 nav + *
{
    clear: left;
}
 nav.footernav {
   float: left;
   width: 33%;
   clear: none;
 }
 nav.footernav > ul > li {
   float: none;
 }
