<article
      {{ if or (isset .Params "image") (isset .Params "video") }}
        {{ if .Content }}
          class="graphic"
        {{ else }}
          class="onlygraphic"
        {{ end }}
      {{ end }}
      {{ if isset .Params "background" }}
        style="background-image: url(/img/{{ . }})"
      {{ end }}>
  {{ if not (eq .Params.showtitle "false") }}
    <header>
      <h1>{{ .Title }}</h1>
    </header>
  {{ end }}
  {{ with .Params.image }}
    <figure>
      <img src="{{.}}">
    </figure>
  {{ end }}
  {{ with .Params.video }}
    <video controls="">
      <source src="{{.}}" type="video/mp4">
    </video>
  {{ end }}
  <main>
    {{ if and (isset .Params "ischildpage") (eq (.Scratch.Get "pagetype") "list") }}
      {{ .Summary }}
      {{ if .Truncated }}
        <a href="{{ .RelPermalink }}">Read More</a>
      {{ end }}
    {{ else }}
      {{ .Content}}
    {{ end}}
  </main>
  <footer>{{ with .Params.backgroundcopyright }}<p>{{ . }}</p>{{ end }}</footer>
</article>
